<div class="bg-light p-5 rounded text-center my-3">
  <h1 class="display-4 font fw-semibold mt-2 mb-5">Welcome to the Sample App</h1>
  <p class="lead fs-6">
    This is the home page for the 
    <a class="text-decoration-none"   href="/" class="text-primary">Ruby on Rails Tutorial</a> 
    sample application.
  </p>
  <a href="/sign_up" class="btn btn-primary btn-lg">Sign up now!</a>
</div>
<%= image_tag "rails.png" %>
