<% provide :title, "Log In"  %>
<h1><%= yield :title %></h1>

<div class="row flex-column align-items-center">
  <div class="col-md-6 col-md-offset-3" >
    <%= render "form" %>
    <p>New user <%= link_to "Sign up now!", sign_up_path, class: "fw-bold" %> </p>
  </div>
</div>

