$light-gray: #777;


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.4em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: #fff;
    font-size: 1.7em;
  }
}

footer {
  a {
    color: #8a8686d1;

    &:hover {
      color: #222;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}



h1 {
  font-size: 3em !important;
  letter-spacing: -2px !important;
  margin-bottom: 30px !important;
  text-align: center !important;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

aside {
  .user_info {
    margin-top: 45px;
  }
  section {
      padding: 10px 0;
      margin-top: 25px;
      &:first-child {
        border: 0;
        padding-top: 0;
    }
    span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravator {
  float: left;
  margin-right: 10px;
}

.gravator_edit {
  margin-top: 15px;
}
