@use 'custom';
@use 'formCustom';
@use 'error';

.debug_dump {
  float: left;
  margin: 45px 0;
  clear: both;
  padding: 2px;
}

.dropdown-menu.active {
  display: block;
}

.dropdown-menu {
  li {
    padding: 4px 9px;

    a {
      color: black;
      text-decoration: none;
    }
  }
}

