<% nav = {
  About:  { link: about_url },
  Contact:  { link: contact_url },
  News: { link: "https://news.railstutorial.org/" }
} %>
<footer class="navbar navbar-expand-md navbar-inverse border-top">
  <small class="navbar-brand fw-lighter text-body-tertiary fs-6">
    The <a href"https://www.railstutorial.org/" >Ruby on Rails Tutorial</a> by <a href"https://www.michaelhartl.com/"= >Micheal Hartel</a>
</small>
<nav>
  <ul class="nav navbar-collapse navbar-right gap-3">
    <% nav.each do | key, value | %>
      <li class="nav-item" ><%= link_to key, value[:link] %></li>
  <% end %>
  </ul>
</nav>
</footer>
